<div ng-app='app'>
    <nav ng-controller = "NavCtrl">
        <section>
            <a href="#" ui-sref-active='active' ui-sref='landing'><span>About</span></a>
            <a href="#" ui-sref-active='active' ui-sref='home'><span>Home</span></a>
            <a href="#" ui-sref-active='active' ui-sref='login'><span>Login</span></a>
            <a href="#" ui-sref-active='active' ui-sref='register'><span>Create Profile</span></a>
            <a href="#" ui-sref-active='active' ui-sref='search'><span>Search PRNs</span></a>
            <a href="#" ng-click="logOut()"><span>Logout</span></a>
        </section>
    </nav>
    <main ui-view></main>

</div>