  <section class = "homepage-css">  
    <section class = "home-header">
        <img src="images/logo2.svg">
        <div class = "move-text">
            <h3>PRN Support Solutions</h3>
            <p>Staffing Support....<span>FAST</span>!</p>
        </div>
    </section>

    <div ng-app='app' id="nav-padding">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller = "NavCtrl" ng-model = "isLoggedIn">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </div>    

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#" ui-sref-active='active' ui-sref='landing'>Home</a></li>
                <li><a href="#" ng-hide = "isLoggedin" ui-sref-active='active' ui-sref='login'>Login</a></li>
                <li><a href="#" ui-sref-active='active' ui-sref='register'>Create/EditProfile</a></li>
                <li><a href="#" ng-show = "isLoggedin" ui-sref-active='active' ui-sref='search'>PRN Search</a></li>
                <li><a href="#" ng-show = "isLoggedin" ng-click="logOut()">Logout {{ user.email }}</a></li>
<!--                 <li><a href="#" ng-show = "isLoggedin" ui-sref-active='active' ui-sref='landing'></a>{{ user.email }}</li> -->
              </ul>

<!--               ng-show="isLoggedin" -->
     
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
     <main class="main" ui-view></main>
    </div>
  </section>



