<div class = "login-header">Login</div>

<div ng-controller="loginCTRL">
	
	<form class='form'  ng-submit="login(email, password)">
	
		<div>Email</div>
			<input type="text" class="form-control input-lg" ng-model="email" placeholder="pk23@gmail.com">
	
		<div>Password</div>
			<input type="password" class="form-control input-lg" ng-model="password" placeholder="Enter your password"><br>

	
		<button type="submit" class="btn btn-success btn-lg">Submit</button>
		<button type= 'button' class="btn btn-info btn-lg" ng-controller='cancelCTRL' ng-click='cancel()'>Cancel</button>

	</form>

	<div class='failMessages'>
		<span ng-show = "pwFail">Please enter a password</span><br>
		<span ng-show = "emailFail">Please enter a valid email address</span>
	</div>

	<div class='logInSuccessMessage'>
		<span ng-show = "loginSuccess">Congratulations!  You have successfully logged in!</span>
		<span ng-repeat = "error in loginFailure">{{ error }}</span>

</div>

	