
<section class = "search-css">

    <div class = "search-wrapper">
        <div class="search-header">PRN Search<br>
            <div>
                <div class = "text-line-one">&nbsp;&nbsp;&nbsp;&nbsp;1. Enter company in need of PRN support</div>
                <div class = "text-line-two">2. Press "Find PRNs" to display results</div>
            </div>
        </div><br>


        <form class='search-criteria'>
           <div>Company Name</div>
           <input type="text" class = "form-control" ng-model = "registrations" id="companySelect" placeholder="Enter hiring company">

            <br><button id = "search-button" ng-hide="searchButton" type='button' ng-click = "searchSubmit()" class="btn btn-success btn-default">Find PRNs</button>
            <button id = "search-cancel-button" ng-hide="searchButton" type= 'button' class="btn btn-link btn-default" ng-controller='cancelCTRL' ng-click='cancel()'>Cancel</button>
            <button id = "reload-button" ng-show="reloadButton" type='button' ng-click = "reLoad()" class="btn btn-success btn-default">Reload</button>
           <br><br>
        </form>

        <form class = "filters" ng-show="tableFilters">

            Availabile?
                <select id="availability" ng-model='filterBy1'> 
                    <option value="!!"></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

            Certification
                <select id="disciplines" ng-model='filterBy2'>
                    <option value="!!"></option>
                    <option value="COTA">COTA</option>
                    <option value="LVN">LVN</option>
                    <option value="OTR">OTR</option>
                    <option value="PT">PT</option>
                    <option value="PTA">PTA</option>
                    <option value="RN">RN</option>
                    <option value="SLP">SLP</option>
                </select> 

        </form><br><br>

            <div ng-show="tableRender" id='searchTable'>
                <table class="table table-border table-hover table-condensed table-responsive">
                
                    <tr>
                        <th class='firstName'>First</th>
                        <th class='lastName'>Last</th>
                        <th class='phone'>Phone</th>
                        <th><span class = "cert">Cert.</span><span class="credentials">Certification</span></th>
                        <th class='availability'>Availability</th>
                        <th class='registrations'>Company Registrations</th>
                    </tr>

                    <tr id='searchTable' ng-repeat='user in allUsers | filter: {
                    "currentlyAvailable": filterBy1, "credentials": filterBy2}'>
                        <td> {{ user.firstname }}</td>
                        <td> {{ user.lastname }}</td>
                        <td><a href="tel:{{ user.phone }}"> {{user.phone}} </a></td>
                        <td class= " user-credentials">  {{ user.credentials }}</td>
                        <td class= 'availability'> {{ user.currentlyAvailable }}</td>
                        <td class= 'registrations'> {{ user.registrations }}</td>  
                    </tr>

                </table>        
            </div>
    </div>
</section>






