.banner {
	height: 20em;
	width: 100%;
	background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRQrBmPHDWDdI8urAqVW149Wg1s9dhsVbAoWV3n47JWtE1kVzxkuw);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.title {
	font-size: 50px;
}

.banner h1{
	text-align: center;
	margin-top: 0;
	padding-top: 30px;
}

.fast {
	font-style: italic;
	text-decoration: underline;
	font-weight: 900;
}
