.form {
	font-size: 16px;
	// background-color: #E3E1E1;
	margin-top: 0;
	margin: 0 50px 0 50px;
}

.login-header {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
}

.failMessages {
	color: red;
	font-size: 20px;
	text-align: center;
}


