.search-header {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
}

.search-header span {
	font-size: 16px;
	margin: 0 20px 0 20px;
}

.search-criteria {
	font-size: 16px;
	// background-color: #E3E1E1;
	margin-top: 0;
	margin: 0 50px 0 50px;
}

.filter-header {
	text-align: center;
	background-color: white;
}
