.search-css {
	min-height: 75em;

	.search-wrapper {
		background-color: #90CED6;
		color: #30488C;
		height: 100em;
		margin: 0 auto;
		text-align: center;
	}

	.search-header {
		font-size: 26px;
		font-weight: 900;
		padding-top: 20px;
	}
	
	.text-line-one, .text-line-two {
		font-size: 16px;
		font-weight: 400;
	}
	.text-line-one{
		padding-top: 16px;
	}

	.search-criteria, .filters {
		font-size: 16px;
		margin: 0 auto;
		max-width: 300px;
	}

	.search-criteria div{
		text-align: left;
	}

	.filters {
		font-size: 16px;
		margin: 0 auto;
		// margin: 0 50px 0 50px;
		max-width: 300px;
		display: inline;
	}

	#searchTable {
		background-color: white;
		font-size: 16px;
		padding-left: 30px;
	}

	th {
		text-align: center;
	}

	.user-credentials {
		padding-right: 85px;
	}
	
	.cert {
		visibility: visible;
		padding-left: 30px;
	}
	.registrations, .zip, .availability, .credentials {
		visibility: collapse;
	}

	#search-button {
		background-color: #9FCC58;
		border: none;
	}

	#search-cancel-button {
		color: #E01409;
	}

	#reload-button {
		background-color: #9FCC58;
		border: none;
	}

	@media(min-width: 768px){
		.registrations, .zip, .availability, .credentials {
			visibility: visible;
		}

		.credentials {
			padding-right: 130px;
		}
		
		.cert {
		visibility: collapse;
		}

		#filter-availability, #filter-certs {
		display: inline-block;
		width: 100%
		}

		#searchTable {
		font-size: 20px;
		}

		.text-line-one, .text-line-two {
		font-size: 20px;
		font-weight: 400;
		}

		.search-criteria, .filters {
		font-size: 20px;
		}

		.search-criteria div{
		text-align: left;
		}

		.filters {
		font-size: 20px;

		}

		.search-criteria input {
			font-size: 20px;
		}


	}
}
