/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
.landing-css .nav-bar {
  height: 3em;
  background-color: #A7C3CF;
  text-align: center;
  border-top: solid black 1px;
  border-bottom: solid black 1px; }
.landing-css .nav-bar a {
  color: black;
  font-size: 25px;
  border-right: solid black 2px;
  padding: 0 15px 0 15px; }
.landing-css .about {
  font-size: 20px;
  font-weight: 900;
  padding: 10px 0 10px 0;
  margin-left: 10px;
  color: #30488C; }
.landing-css .home-text {
  font-size: 16px;
  margin: 0 30px 0 30px;
  color: #30488C; }
.landing-css .carousel {
  border-top: solid #8E8E91 2px; }
.landing-css .carousel-inner {
  max-height: 500px; }

.homepage-css .home-header {
  text-align: center;
  border-bottom: solid black 1px; }
.homepage-css .move-text {
  color: #30488C; }
.homepage-css .row {
  margin: 0; }
.homepage-css .home-header img {
  height: 50%;
  padding-top: 50px; }
.homepage-css .text-header {
  text-align: center;
  font-family: verdana; }
.homepage-css .move-text span {
  font-weight: 900;
  font-style: italic;
  text-decoration: underline; }
.homepage-css .title {
  font-size: 50px; }
.homepage-css .fast {
  font-style: italic;
  text-decoration: underline;
  font-weight: 900; }
@media (min-width: 768px) {
  .homepage-css .home-header img {
    height: 15em;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 50px; }
  .homepage-css .home-header {
    overflow: hidden; }
  .homepage-css .move-text {
    display: inline-block;
    padding-top: 100px; }
  .homepage-css .move-text h3 {
    font-size: 30px; }
  .homepage-css .move-text p {
    font-size: 20px; } }

.login-css .login-wrapper {
  background-color: #90CED6;
  color: #30488C;
  height: 34em; }
.login-css form {
  font-size: 16px;
  margin: 0 auto;
  max-width: 300px;
  float: none; }
.login-css form input {
  margin-bottom: 15px; }
.login-css .login-header {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #30488C;
  padding-top: 20px; }
.login-css .failMessages {
  color: red;
  font-size: 20px;
  text-align: center; }
.login-css #login-submit {
  background-color: #9FCC58;
  border: none; }
.login-css #login-cancel {
  color: #E01409; }
@media (min-width: 768px) {
  .login-css form {
    width: 300px;
    float: none; } }

.register-css .register-wrapper {
  background-color: #90CED6;
  color: #30488C;
  height: 57em; }
.register-css .register-header {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #30488C;
  padding-top: 20px; }
.register-css #registered-with {
  font-size: 16px;
  margin-top: 0;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 15px; }
.register-css .form {
  max-width: 300px;
  margin: 0 auto; }
.register-css .form div {
  font-size: 16px; }
.register-css .form input {
  font-size: 16px;
  margin-top: 0;
  min-width: 200px;
  margin-bottom: 15px; }
.register-css #submit-button {
  margin-left: 50px;
  background-color: #9FCC58;
  border: none; }
.register-css #cancel-submit {
  color: #E01409; }
.register-css #edit-button {
  background-color: #30488C;
  border: none; }
.register-css .error-messages {
  color: red;
  font-size: 20px;
  text-align: center; }
@media (min-width: 768px) {
  .register-css .form input {
    margin-top: 0;
    min-width: 200px;
    margin-bottom: 15px; } }

.search-css {
  min-height: 75em; }
  .search-css .search-wrapper {
    background-color: #90CED6;
    color: #30488C;
    height: 100em;
    margin: 0 auto;
    text-align: center; }
  .search-css .search-header {
    font-size: 24px;
    font-weight: 900;
    padding-top: 20px; }
  .search-css .text-line-one, .search-css .text-line-two {
    font-size: 16px;
    font-weight: 400; }
  .search-css .text-line-one {
    padding-top: 20px; }
  .search-css .search-criteria, .search-css .filters {
    font-size: 16px;
    margin: 0 auto;
    max-width: 300px; }
  .search-css .search-criteria div {
    text-align: left; }
  .search-css .filters {
    font-size: 16px;
    margin: 0 auto;
    max-width: 300px;
    display: inline; }
  .search-css #searchTable {
    padding: 0 30px 0 30px;
    background-color: none; }
  .search-css th {
    text-align: center; }
  .search-css .registrations, .search-css .zip, .search-css .availability {
    visibility: collapse; }
  .search-css #search-button {
    background-color: #9FCC58;
    border: none; }
  .search-css #search-cancel-button {
    color: #E01409; }
  @media (min-width: 768px) {
    .search-css .registrations, .search-css .zip, .search-css .availability {
      visibility: visible; }
    .search-css #filter-availability, .search-css #filter-certs {
      display: inline-block;
      width: 100%; } }

/*# sourceMappingURL=importer.css.map */
