
.login-css {

		.login-wrapper {
			background-color: #90CED6;
			color: #30488C;
			height: 34em;	
		}


		form {
			font-size: 16px;
			margin: 0 auto;
			max-width: 300px;
			float: none;
		}

		form input {
			margin-bottom: 15px;
		}

		.login-header {
			font-size: 24px;
			font-weight: 900;
			text-align: center;
			color: #30488C;
			padding-top: 20px;
		}

		.failMessages {
			color: red;
			font-size: 20px;
			text-align: center;
		}

		#login-submit {
			background-color: #9FCC58;
			border: none;
		}

		#login-cancel {
			color: #E01409;
		}

		@media(min-width: 768px){
			form {
				width: 300px;
				float: none;
			}
}

}

