.form {
	font-size: 16px;
	// margin: 0 20px 0 20px;
	background-color: #E3E1E1;
	margin-top: 0;
	padding: 0 300px 20px 300px;
}

.login-header {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
}

.form div {
	font-size: 20px;
	font-weight: 900;
}

.failMessages {
	color: red;
	font-size: 20px;
	text-align: center;
}
