.search-header {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
}

.search-header span {
	font-size: 20px;
	margin: 0 20px 0 20px;
}

.search-criteria {
	font-size: 20px;
	margin: 0 300px 20px 300px;
}

.search-criteria input {
	font-size: 15px;
}

.submitButton {
	text-align: center;
}
