.search-css {
	min-height: 75em;

	.search-wrapper {
		background-color: #90CED6;
		color: #30488C;
		height: 100em;
		margin: 0 auto;
		text-align: center;
	}

	.search-header {
		font-size: 24px;
		font-weight: 900;
		padding-top: 20px;
	}
	
	.text-line-one, .text-line-two {
		font-size: 16px;
		font-weight: 400;
	}
	.text-line-one{
		padding-top: 20px;
	}

	.search-criteria, .filters {
		font-size: 16px;
		margin: 0 auto;
		max-width: 300px;
	}

	.search-criteria div{
		text-align: left;
	}

	.filters {
		font-size: 16px;
		margin: 0 auto;
		// margin: 0 50px 0 50px;
		max-width: 300px;
		display: inline;
	}

	#searchTable {
		// padding: 0 30px 0 30px;
		background-color: white;
		font-size: 16px;
		padding-left: 20px;
	}

	th {
		text-align: center;
	}

	.registrations, .zip, .availability {
		visibility: collapse;
	}

	#search-button {
		background-color: #9FCC58;
		border: none;
	}

	#search-cancel-button {
		color: #E01409;
	}

	#reload-button {
		background-color: #9FCC58;
		border: none;
	}

	@media(min-width: 768px){
		.registrations, .zip, .availability {
			visibility: visible;
		}
		#filter-availability, #filter-certs {
		display: inline-block;
		width: 100%
		}

		#searchTable {
		font-size: 20px;
	}


	}
}
