<div class="search-header">Search Criteria<br>
	<span>In the field below, please enter the name of the company in need of PRN support.  Press the "Find PRNs" button to display your search results.</span>
</div><br>
 

    <form class='search-criteria'>
	   Hiring company name<input type="text" class = "form-control" ng-model = "registrations" id="companySelect" placeholder="Enter hiring company">

       <h3 class="filter-header">Filters</h3>

        First Name<input id='filterByFirst' class = "form control" type='text' placeholder='Filter by First Name' ng-model='filterBy1'>

        Last Name<input id='filterByLast' class = "form control" type='text' placeholder='Filter by Last Name' ng-model='filterBy2'>

        Certifications<input id='filterByCreds' class = "form control" type='text' placeholder='Filter by Certification' ng-model='filterBy3'><br>

        <br><button type='button' ng-click = "searchSubmit()" class="btn btn-success btn-default">Find PRNs</button>
        <button type= 'button' class="btn btn-info btn-default" ng-controller='cancelCTRL' ng-click='cancel()'>Cancel</button>
	   <br>
    </form>
	
        <div id='searchTable'>
            <table class="table table-border table-hover table-condensed table-responsive">
            
                <tr>
                    <th class='firstName'>First Name</th>
                    <th class='lastName'>LastName</th>
                    <th class='phone'>Phone</th>
                    <th class='zip'>Zip Code</th>
                    <th class='credentials' ng-click='onNameClick()'>Certification</th>
                    <th class='availability' ng-click='onNameClick()'>Currently Available</th>
                    <th class='registrations'>Company Registrations</th>
                </tr>
					
<!-- 				<div class='submitButton'>
					<button type='button' ng-click = "searchSubmit()" class="btn btn-success btn-lg">Find PRNs</button>
					<button type= 'button' class="btn btn-info btn-lg" ng-controller='cancelCTRL' ng-click='cancel()'>Cancel</button>
				</div><br> -->

                <tr id='searchTable' ng-repeat='data in recoveredObject'>
                    <td> {{ data.firstname }}</td>
                    <td> {{ data.lastname }}</td>
                    <td> {{ data.phone }}</td>
                    <td> {{ data.zip }}</td>
                    <td> {{ data.credentials }}</td>
                    <td> {{ data.currentlyAvailable }}</td>
                    <td> {{ data.registrations }}</td>  
                </tr>

            </table>
        </div>






